/*  Reset CSS */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/* geral */

body {
    color: #4CAF50;
}

#container {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

#form {
    margin: 5px;
    padding: 5px;
}

fieldset {
    border: 1.5px solid #4CAF50;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

legend {
    text-align: center;
    font-size: large;
}

input[type="number"] {
    border: 1.5px solid grey;
    border-radius: 3px;
    font-size: medium;
    text-indent: 6px;
    height: 40px;
    outline: none;
    color: rgb(0, 0, 0, 90%);
}

input[type="number"]:focus {
    border-color: #4CAF50;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


.button {
    border: 3px solid #4CAF50;
    border-radius: 2px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 2px;
    font-size: large;
}

.button:hover {
    opacity: 0.9;
}


/* mobile */

.row {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
}

label,
input[type="number"] {
    display: block;
    font-size: large;
    width: 100%;
}

#button-convert {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .button {
        height: 42px;
    }
    input[type="number"] {
        height: 40px;
        font-size: 16;
    }
}


/* Desktop */

@media screen and (min-width: 600px) {
    #container {
        margin-top: 30px;
        width: 600px;
    }
    fieldset {
        border-width: 2px;
        padding: 15px;
    }
    .row {
        margin-top: 5px;
        overflow: hidden;
    }
    label {
        display: inline-block;
        width: 4em;
        font-size: x-large;
    }
    legend {
        font-size: x-large;
    }
    input[type="number"] {
        display: inline-block;
        font-size: x-large;
        border-width: 2px;
    }
    .button {
        font-size: x-large;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
    }
    #button-convert {
        width: auto;
        float: right;
    }
}
